<form (submit)="addProducts()">
    <div class="form-group">
      <label for="productName">Nombre del producto:</label>
      <input type="text" class="form-control" id="productName" [(ngModel)]="product.name" name="product.name" placeholder="Nombre del producto">
    </div>
  
    <div class="form-group">
      <label for="productDescription">Descripción del producto:</label>
      <textarea class="form-control" id="productDescription" [(ngModel)]="product.description" name="product.description"></textarea>
    </div>
  
    <div class="form-group">
      <label for="productPrice">Precio del producto:</label>
      <input type="number" class="form-control" id="productPrice" [(ngModel)]="product.price" name="product.price">
    </div>
  
    <div class="form-group">
      <label for="productImage">Imagen del producto:</label>
      <input type="file" class="form-control-file" id="productImage"  accept="image/*">
    </div>
  
    <div class="form-group">
      <label>Previsualización de la imagen:</label>
      <img [src]="" alt="Vista previa de la imagen" class="img-fluid" >
    </div>
  
    <button type="submit" class="btn btn-primary">Subir producto</button>
  </form>
  
