<!-- vendor.component.html -->
<div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">¡Bienvenido a Vendor!</h1>
      <p class="lead">El lugar ideal para vender tus productos usados.</p>
      <hr class="my-4">
      <p>¡Sube tus productos y encuentra compradores interesados!</p>
      <a class="btn btn-primary btn-lg" href="/singup" role="button">Comenzar a vender</a>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <img src="https://album.mediaset.es/eimg/2022/09/07/venta-de-objetos-usados_20b4.jpg?w=1200&h=900" style="width: 300px; height: 150px;" alt="Imagen 1" class="img-fluid">
        <h3>Sube tus productos</h3>
        <p>Captura imágenes de tus productos y añádelos fácilmente a tu perfil de vendedor.</p>
      </div>
      <div class="col-md-4">
        <img src="https://img.freepik.com/vector-gratis/coleccion-personas-cargando-bolsas-compra_23-2148209436.jpg" style="width: 300px; height: 150px;" alt="Imagen 2" class="img-fluid">
        <h3>Encuentra compradores</h3>
        <p>Muestra tus productos a una gran comunidad de compradores interesados.</p>
      </div>
      <div class="col-md-4">
        <img src="https://www.altonivel.com.mx/assets/images/BannerMinisitio/ecommerce.jpg" style="width: 300px; height: 150px;" alt="Imagen 3" class="img-fluid">
        <h3>Haz negocios</h3>
        <p>Conecta con compradores y vendedores para realizar transacciones seguras y exitosas.</p>
      </div>
    </div>
  </div>
  